<ul>
  <% if (currentUser) { %>
    <li><a href="/">Home</img></a></li>
    <li><a href="/films">View Films</a></li>
    <li><a href="/characters">View Characters</a></li>
    <li>|</li>
        <!-- <li><a href="/users/profile"><%=currentUser.firstName%>'s Profile</a></li> -->
    <li>Welcome <%=currentUser.firstName%>!</li>
    <li class="logout"><form action="/sessions?_method=DELETE" method="POST">
      <input class="logout" type="submit" value="Log Out" />
    </form></li>
  <% } else { %>
    <li><a href="/">Home</img></a></li>
    <li><a href="/films">View Films</a></li>
    <li><a href="/characters">View Characters</a></li>
    <li>|</li>
    <li><a href="/sessions/signin">Sign In</a></li>
    <li><a href="/users/register">Register</a></li>
  <% } %>
</ul>
