<!DOCTYPE html>
<html>
  <head>
<% include ../views/partials/head %>
  </head>
  <body class="home">
    <nav>
      <ul>
        <% if (currentUser) { %>
          <li><a href="/films">View Films</a></li>
          <li><a href="/characters">View Characters</a></li>
          <li><a href="#"><%=currentUser.firstName%>'s Profile</a></li>
          <li class="logout"><form action="/sessions?_method=DELETE" method="POST">
            <input class="logout" type="submit" value="Log Out" />
          </form></li>
        <% } else { %>
          <li><a href="/sessions/signin">Sign In</a></li>
          <li><a href="/users/register">Register</a></li>
        <% } %>
      </ul>
    </nav>
    <div id='titlelogo'>
      <h1 id="the">The</h1>
      <img id="disneyvaulthome" src="images/logo-disney-white.png"></img><br/>
      <h1 id="vault">Vault</h1>
    </div>
  </body>
</html>
