<!DOCTYPE html>
<html>
  <head>
<% include ../views/partials/head %>
  </head>
  <body class="home">
    <nav>
<% include ../views/partials/nav %>
      </ul>
    </nav>
    <div>
      <h1>The Disney Vault</h1>
    </div>
  </body>
</html>
