<!DOCTYPE html>
<html>
  <head>
<% include ../views/partials/head %>
  </head>
  <body class="home">
    <nav>
      <% include ../views/partials/nav %>
    </nav>
    <div>
      <h1 class="thedisneyvault"><span class="top">The</span>Disney<span class="bottom">Vault</span></h1>
    </div>
  </body>
</html>
