* {
  margin: 0;
  padding: 0;
}

#home {
  background: url('/images/balloonbw.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Architects Daughter', cursive;
}

#filmsandcharacters {
  background: url('/images/cloudless-blue-sky-background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Architects Daughter', cursive;
}

#titlelogo {
  text-align: right;
  position: absolute;
  bottom: 35%;
  max-width: 50%;
  right: 15%;
}

#navlogo {
  max-height: 20px;
  margin-bottom: -5px;
  border-radius: 10px;
}

#disneyvaulthome {
  display: block;
  max-width: 300px;
  margin: -100px 100px;
}

#the {
  position: absolute;
  display: block;
  color: white;
  margin: -100px 0px 0px 25px;
}

#vault {
  position: absolute;
  display: block;
  color: white;
  margin: 25px 0px 0px 410px;
}

#loginform {
  color: white;
  text-align: left;
  position: absolute;
  bottom: 5%;
  right: 15%;
}

nav {
  background-color: rgba(40, 40, 40, .9);
  padding: 5px 0px 0px 0px;
}

#filmchar-nav {
  background-color: rgba(255, 255, 255, .6);
  padding: 5px 0;
}

a {
  text-decoration: none;
  color: white;
}

.black-text {
  color: black;
}

ul {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  list-style-type: none;
}

li {
  padding: 0 1em;
}

.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
  background-color: rgba(40, 40, 40, .9);
  font-size: 20px;
  color: white;
}

#register, #signin {
    margin-top: 15px;
}

@media (max-width: 830px) {
  #titlelogo {
    right: 5%;
    top: 5%;
  }
  #disneyvaulthome {
    max-width: 200px;
    margin: 0px 10px -45px 0;
  }

  #the {
    font-size: 20px;
    margin: 10px 0px 0px -25px;
  }

  #vault {
    font-size: 20px;
    margin: 20px 0px 0px 120px;
  }
}

@media (max-width: 560px) {
  #loginform {
    color: white;
    text-align: left;
    position: absolute;
    bottom: 5%;
    right: 15%;
    left: 5%;
  }
}
