* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #357DBB;
  font-family: 'Architects Daughter', cursive;
  color: black;
  text-align: center;
}

.clouds {
  background: url('/images/clouds.png') no-repeat left center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: none;
}

.home {
  background: url('/images/up_balloon_house.jpeg') no-repeat left center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: none;
}

#navlogo {
  max-height: 20px;
  margin-bottom: -5px;
  border-radius: 10px;
}

.loginform {
  text-align: left;
  position: absolute;
  bottom: 5%;
  right: 15%;
}

nav {
  background-color: rgba(40, 40, 40, .9);
  padding: 5px 0px 0px 0px;
}

.logout {
  margin-bottom: -10px;
  font-size: 14px;
}

a {
  text-decoration: none;
}

ul {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  list-style-type: none;
  margin-bottom: 0;
  align-items: center;
}

.index {
  display: flex;
  justify-content: space-around;
  padding: 0;
  list-style-type: none;
  margin-bottom: 0;
  align-items: center;
  flex-wrap: wrap;
}

li {
  padding: 0 1em;
}

.poster {
  min-width: 100px;
  min-height: 150px;
  height: 200px;
  background-color: white;
  margin: 25px;
  border: 1px solid black;
}

.library-character {
  min-width: 100px;
  min-height: 150px;
  height: 150px;
  background-color: black;
  }

.show-poster {
  min-width: 100px;
  min-height: 100px;
  height: 400px;
  background-color: black;
}
