* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #357DBB;
  font-family: 'IM Fell Great Primer SC', serif;
  color: black;
  text-align: center;
}

.clouds {
  background: url('/images/clouds.png') no-repeat left center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: none;
}

.home {
  background: url('/images/up_balloon_house.jpeg') no-repeat left center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: none;
}

h1 {
font-family: 'WaltographRegular';
font-weight: normal;
font-style: normal;
margin-top: 5%;
}

#navlogo {
  max-height: 20px;
  margin-bottom: -5px;
  border-radius: 10px;
}

nav {
  background-color: rgba(255, 255, 255, .75);
  padding: 5px 0px 0px 0px;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: rgb(255, 255, 255);
  padding: 5px 0px 5px 0px;
  width: 100%;
}

.loginform {
  text-align: left;
  position: absolute;
  bottom: 5%;
  right: 15%;
}

.logout {
  margin-bottom: -10px;
  font-size: 14px;
}

.thedisneyvault {
position: fixed;
font-size: 125px;
bottom: 25%;
left: 50%;
}

span {
  font-size: 50px;
}

.top {
  vertical-align: top;
}

.bottom {
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  list-style-type: none;
  margin-bottom: 0;
  align-items: center;
}

.index {
  display: flex;
  justify-content: space-around;
  padding: 0;
  list-style-type: none;
  margin-bottom: 0;
  align-items: center;
  flex-wrap: wrap;
}

li {
  padding: 0 1em;
}

.centerfooter {
  justify-content: center;
}

.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
  color: white;
  background-color: black;
}

.button:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, .button:focus, button:focus, input[type="submit"]:focus, input[type="reset"]:focus, input[type="button"]:focus {
  color: #357DBB;
}

.poster {
  min-width: 100px;
  min-height: 150px;
  height: 200px;
  background-color: white;
  margin: 25px;
  border: 1px solid black;
}

.library-character {
  min-width: 100px;
  min-height: 150px;
  height: 150px;
  background-color: black;
  }

.show-poster {
  min-width: 100px;
  min-height: 100px;
  height: 400px;
  background-color: black;
}

/*RESPONSIVE*/

@media (max-width: 850px) {
  .thedisneyvault {
    left: 0;
    top: 10%;
    /*margin-right: 25px;*/
    right: 10%;
    }
  }

@media (max-width: 715px) {
  .loginform {
    text-align: left;
    position: absolute;
    top: 30%;
    right: 15%;
    left: 15%;
    color: white;
  }
}

@media (max-width: 420px) {
  .thedisneyvault {
    font-size: 100px;
    }
    span {
      font-size: 25px;
      margin-right: 20px;
    }
  }
