<!DOCTYPE html>
<html>
  <head>
<% include ../partials/head %>
  </head>
  <body>
    <h1>The Disney Vault</h1>
    <h2>This is the Sign In Page</h2>
    <form action="/sessions" method="POST">
      <input type="text" name="username" placeholder="username" />
      <input type="password" name="password" placeholder="password" />
      <input type="submit" value="Sign In">
    </form>
  </body>
</html>
