<!DOCTYPE html>
<html>
  <head>
<% include ../partials/head %>
  </head>
  <body id="home">
    <nav>
      <ul>
          <li><a href="/sessions/signin">Sign In</a></li>
          <li><a href="/users/register">Register</a></li>
      </ul>
    </nav>
    <div id="titlelogo">
      <h1 id="the">The</h1>
      <img id="disneyvaulthome" src="../images/logo-disney-white.png"></img>
      <h1 id="vault">Vault</h1>
      </div>
      <div id="loginform">
        <form action="/sessions" method="POST">
          <label for="user-name">Username</label>
          <input type="text" name="username" placeholder="username" /><br/>
          <label for="password">Password</label>
          <input type="password" name="password" placeholder="password" /><br/>
          <input type="submit" value="Sign In">
        </form>
      </div>
  </body>
</html>
