<!DOCTYPE html>
<html>
  <head>
<% include ../partials/head %>
  </head>
  <body class="home">
    <nav>
      <ul>
          <li><a href="/"><img id="navlogo" src="../images/balloons.jpg"></img></a></li>
          <li><a href="/sessions/signin">Sign In</a></li>
          <li><a href="/users/register">Register</a></li>
      </ul>
    </nav>
    <div>
      <h1>The Disney Vault</h1>
      </div>
      <div class="loginform">
        <form action="/sessions" method="POST">
          <div class="row">
            <div class="six columns">
              <label for="user-name">Username</label>
              <input class="u-full-width" type="text" name="username" /><br/>
            </div>
            <div class="six columns">
              <label for="password">Password</label>
              <input class="u-full-width" type="password" name="password" /><br/>
            </div>
          </div>
              <input type="submit" value="Sign In">
        </form>
      </div>
  </body>
</html>
