<!DOCTYPE html>
<html>
  <head>
<% include ../partials/head %>
  </head>
  <body class="clouds">
    <nav>
<% include ../partials/nav %>
    </nav>
      <h1><%=currentUser.firstName%>'s Profile</h1>
      <ul>
        <% for (var i = 0; i < characters.length; i++) { %>
          <li>
            <a href="/characters/<%=characters[i]._id%>"><%=characters[i].name%></a>
          </li>
      <%  } %>
      </ul>
  </body>
</html>
