<!DOCTYPE html>
<html>
  <head>
<% include ../partials/head %>
  </head>
  <body class="clouds">
    <nav>
<% include ../partials/nav %>
    </nav>
      <h1>Characters added by <%=currentUser.firstName%>: </h1>
      <ul class="profileUL">
        <% for (var i = 0; i < sessionUser.characters.length; i++) { %>
          <li>
            <a href="/characters/<%=sessionUser.characters[i]._id%>"><img class="thumbnailcenter" src="<%=sessionUser.characters[i].headshot%>" ></a>
          </li>
      <% } %>
      </ul>

  </body>
</html>
