<!DOCTYPE html>
<html>
  <head>
<% include ../partials/head %>
  </head>
  <body class="home">
    <nav>
<% include ../partials/nav %>
    </nav>
      <h1><%=currentUser.firstName%>'s Profile</h1>
  </body>
</html>
