<!DOCTYPE html>
<html>
  <head>
<% include ../partials/head %>
  </head>
  <body class="clouds">
    <nav>
<% include ../partials/nav %>
    </nav>
      <h1>Characters added by <%=currentUser.firstName%>: </h1>
      <ul class="profileUL">
        <% for (var i = 0; i < sessionUser.characters.length; i++) { %>
          <li>
            <div class="thumbnail-container">
              <a href="/characters/<%=sessionUser.characters[i]._id%>"><img class="thumbnailcenter" src="<%=sessionUser.characters[i].headshot%>"><h6 class="profile"><%=sessionUser.characters[i].name%></h6></img></a>

              </div>
          </li>
        <% } %>
      </ul>
      <footer>
        <ul class="centerfooter">
            <li><a href="/films/add">Add a Film</a></li>
            <li><a href="/characters/add">Add a Character</a></li>
        </ul>
      </footer>
  </body>
</html>
