<!DOCTYPE html>
<html>
  <head>
<% include ../partials/head %>
  </head>
  <body class="clouds">
    <nav>
<% include ../partials/nav %>
    </nav>
      <h1><%=currentUser.firstName%>'s Profile</h1>
      <h1><%=sessionUser.characters.name%></h1>
      <ul>
        <% for (var i = 0; i < sessionUser.characters.length; i++) { %>
          <li>
            <a href="/characters/<%=sessionUser.characters[i]._id%>"><%=sessionUser.characters[i].name%></a>
          </li>
      <% } %>
      </ul>

  </body>
</html>
