<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
</head>
<body id="home">
  <nav>
    <ul>
      <li><a class="black-text" href="/"><img id="navlogo" src="../images/balloons.jpg"></img></a></li>
      <li><a href="/sessions/signin">Sign In</a></li>
      <li><a href="/users/register">Register</a></li>
    </ul>
  </nav>
  <div id="titlelogo">
    <h1 id="the">The</h1>
    <img id="disneyvaulthome" src="../images/logo-disney-white.png"></img>
    <h1 id="vault">Vault</h1>
  </div>
  <div id="loginform">
    <form action="/users" method="POST">
      <label for="first-name">First Name</label>
        <input class="u-full-width" type="text" name="firstName" />
          <div class="row">
            <div class="six columns">
              <label for="user-name">Username</label>
              <input class="u-full-width" type="text" name="username" />
            </div>
            <div class="six columns">
              <label for="password">Password</label>
              <input class="u-full-width" type="password" name="password" /><br/>
            </div>
          </div>
          <input id="register" type="submit" value="Register">
    </form>
  </div>
</body>
</html>
