<!DOCTYPE html>
<html>
  <head>
<% include ../partials/head %>
  </head>
  <body class="clouds">
    <nav>
      <% include ../partials/nav %>
    </nav>
    <main class="container">
      <h1>The Film Library</h1>
      <a href="/films/add">Add Film to Library</a>
      <br/>
      <ul class="index">
        <% for (var i = 0; i < films.length; i++) { %>
          <li>
              <a href="/films/<%=films[i]._id%>"><img class="poster" src="<%=films[i].Poster%>"></a>
          </li>
      <% } %>
      </ul>
    </main>
  </body>
</html>
