<!DOCTYPE html>
<html>
  <head>
<% include ../partials/head %>
  </head>
  <body class="clouds">
    <nav>
      <% include ../partials/nav %>
    </nav>
    <main class="container">
      <h1 class="h1big">The Film Library</h1>
      <br/>
        <ul class="index">
          <% for (var i = 0; i < films.length; i++) { %>
           <% films.sort(); %>
            <li>
              <div class="indexpage">
                <a href="/films/<%=films[i]._id%>"><img class="poster" src="<%=films[i].Poster%>"></a><br/>
              </div>
            </li>
        <% } %>
        </ul>
    </main>
    <footer>
      <ul class="centerfooter">
        <li><a href="/films/add">Add a Film</a></li>
        <li><a href="/characters/add">Add a Character</a></li>
      </ul>
    </footer>
  </body>
</html>
