<!DOCTYPE html>
<html>
  <head>
<% include ../partials/head %>
  </head>
  <body class="clouds">
    <nav>
      <% include ../partials/nav %>
    </nav>
    <main class="container">
      <h1>Add a Film to the Library</h1>
        <input id="search-box" class="u-full-width" type="text" name="title" placeholder="Currently Unavailable"/><br/>
        <button id="search-button">Search</button><br/>
        <section id="search-results">
        </section>
    </main>
  </body>
</html>
