<!DOCTYPE html>
<html>
  <head>
<% include ../partials/head %>
  </head>
  <body class="clouds">
    <nav>
      <% include ../partials/nav %>
    </nav>
    <main class="container">
      <h1>Add a Film to the Library</h1>
      <label for="title">Title</label>
        <input id="search-box" class="u-full-width" type="text" name="title" /><br/>
        <p>Search for the full title...</p>
        <button id="search-button">Search</button><br/>
        <section id="search-results">
        </section>
      <a href="/films/manualadd">Manually Add Film to Library</a>
    </main>
  </body>
</html>
