<!DOCTYPE html>
<html>
  <head>
<% include ../partials/head %>
  </head>
  <body class="clouds">
    <nav>
      <% include ../partials/nav %>
    </nav>
    <main class="container">
      <h1>Add a Film to the Library</h1>
      <label for="title">Title</label>
        <input class="u-full-width" type="text" name="title" /><br/>
        <input type="submit" value="Search">
      <section>
        <form action="/films" method="POST">
          <input type="submit" value="Add">
        </form>
      </section>
      <a href="/films/manualadd">Manually Add Film to Library</a>
    </main>
  </body>
</html>
