<!DOCTYPE html>
<html>
  <head>
<% include ../partials/head %>
  </head>
  <body class="filmsandcharacters">
    <nav>
      <ul>
          <li><a href="/"><img id="navlogo" src="../images/balloons.jpg"></img></a></li>
          <li><a href="/films">View Films</a></li>
          <li><a href="/characters">View Characters</a></li>
          <li><a href="#">Profile</a></li>
          <li class="logout"><form action="/sessions?_method=DELETE" method="POST">
            <input class="logout" type="submit" value="Log Out" />
          </form></li>
      </ul>
    </nav>
    <main class="container">
      <h1><%=film.title%></h1>
      <img class="show-poster" src="<%=film.poster%>" alt=""></img>
    </main>
  </body>
</html>
