<!DOCTYPE html>
<html>
  <head>
<% include ../partials/head %>
  </head>
  <body id="filmsandcharacters">
    <nav id="filmchar-nav">
      <ul>
          <li><a class="black-text" href="/"><img id="navlogo" src="../images/balloons.jpg"></img></a></li>
          <li><a class="black-text" href="/films">View Films</a></li>
          <li><a class="black-text" href="/characters">View Characters</a></li>
          <li><a class="black-text" href="#">USER's Profile</a></li>
          <li id="logout"><form action="/sessions?_method=DELETE" method="POST">
            <input type="submit" value="Log Out" />
          </form></li>
      </ul>
    </nav>
  </body>
</html>
