<!DOCTYPE html>
<html>
  <head>
<% include ../partials/head %>
  </head>
  <body class="clouds">
    <nav>
      <% include ../partials/nav %>
    </nav>
    <main class="container">
      <h1 class="h1big">The Character Library</h1>
      <br/>
      <ul class="index">
        <% for (var i = 0; i < characters.length; i++) { %>
          <li>
            <div class="charindexpage">
              <a href="/characters/<%=characters[i]._id%>"><img class="library-character" src="<%=characters[i].headshot%>"></a>
            </div>
          </li>
      <% } %>
      </ul>
    </main>
    <footer>
      <ul class="centerfooter">
        <li><a href="/films/add">Add a Film</a></li>
        <li><a href="/characters/add">Add a Character</a></li>
      </ul>
    </footer>
  </body>
</html>
