<!DOCTYPE html>
<html>
  <head>
<% include ../partials/head %>
  </head>
  <body class="clouds">
    <nav>
      <% include ../partials/nav %>
    </nav>
    <main class="container">
      <h1 class="h1big">The Character Library</h1>
      <br/>
      <ul class="index">
        <% for (var i = 0; i < characters.length; i++) { %>
          <li class="charindexpage">
              <a href="/characters/<%=characters[i]._id%>"><img class="library-character" src="<%=characters[i].headshot%>"><h6 class="charindexhover"><%=characters[i].name%></h6></img></a>
          </li>
      <% } %>
      </ul>
    </main>
    <footer>
      <ul class="centerfooter">
        <% if (currentUser) { %>
          <li><a href="/films/add">Add a Film</a></li>
          <li><a href="/characters/add">Add a Character</a></li>
        <% } else { %>
          <% include ../partials/footer %>
        <% } %>
      </ul>
    </footer>
  </body>
</html>
